<div class="wrapper">
		
	<div class="nav">
		<ol>
			<li><a href="#">Konto</a></li>
			<li><a href="#">Ogłoszenia</a>
				<ul>
					<li><a href="#">Wynajmę</a></li>
					<li><a href="#">Kupię</a></li>
					<li><a href="#">Sprzedam</a></li>
					<li><a href="#">Ukradnę</a></li>
				</ul>
			</li>
			<li><a href="#">Oferty</a>
				<ul>
					<li><a href="#">Działki</a></li>
					<li><a href="#">Domy</a></li>
					<li><a href="#">Mieszkania</a></li>
					<li><a href="#">Inwestycje</a></li>
				</ul>
			</li>
			<li><a href="#">Firmy</a>
				<ul>
					<li><a href="#">test1</a></li>
					<li><a href="#">test2</a></li>
					<li><a href="#">test3</a></li>
					<li><a href="#">test4</a></li>
				</ul>
			</li>
			<li><a href="#">Artykuły</a>
				<ul>
					<li><a href="#">Top 10</a></li>
					<li><a href="#">Najnowsze</a></li>
					<li><a href="#">Oglądane</a></li>
					<li><a href="#">test1</a></li>
				</ul>
			</li>
			<li><a href="#">Kontakt</a></li>
		</ol>
	
	</div>
	<div class="header">
		
	<div class="logo">
		<h1>The Logo</h1>
			Wyszukiwarka mieszkań i domów
		<div style="clear:both;"></div>
	</div>
	</div>
		<div class="searcher">
		Searcher
	</div>
	<div class="content">
			{{outlet}}
	</div>	
	
	<div class="footer">theCoders.pl &copy; 2016 Mieszkania &int; Domy &int; Inwestycje. Kup, sprzedaj, wynajmuj.</div>
</div>