<div>
	{{input type="text" placeholder="Name" value=name class="name-inpu"}}
	{{input type="text" placeholder="Surname" value=surname class="srn-input"}}
	<button {{action 'addMessage'}} class="submit">Ok</button>
</div>
<!-- <div>
    {{#each model as |user|}}
        <div class="row">
            <div class="col-md-4">
                {{user.name}}
            </div>
            <div class="col-md-2">
                {{user.surname}}
            </div>
    {{/each}}
</div> -->
test

