<div class="new">
{{input type="text" placeholder="Name" value=name class="name-input"}}
{{input type="text" placeholder="Surname" value=surname class="srn-input"}}
<button {{action 'addUser'}} class="submit">Submit</button>
</div>
{{outlet}}
